<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>Список студентов</title>
</head>
<body>
    <a href='/app_ip/'>На главную</a>
    <h2>Список студентов</h2>
    <a href='create'>Добавить студента</a>
    <table>
        <thead>
            <th>Id</th>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Место учебы</th>
            <th>Год поступления</th>
            <th></th>
            <th></th>
        </thead>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.date_of_birth }}</td>
            <td>{{ student.institution }}</td>
            <td>{{ student.year }}</td>
            <td><a href='update/{{ student.id }}'>Обновить</a></td>
            <td><a href='delete/{{ student.id }}'>Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>