<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>Список университетов</title>
</head>
<body>
    <a href='/app_ip/'>На главную</a>
    <h2>Список университетов</h2>
    <a href='create'>Добавить университет</a>
    <table>
        <thead>
            <th>Id</th>
            <th>Полное название</th>
            <th>Краткое название</th>
            <th>Дата создания</th>
            <th></th>
            <th></th>
        </thead>
        {% for university in universities %}
        <tr>
            <td>{{ university.id }}</td>
            <td>{{ university.full_name }}</td>
            <td>{{ university.short_name }}</td>
            <td>{{ university.date }}</td>
            <td><a href='update/{{ university.id }}'>Обновить</a></td>
            <td><a href='delete/{{ university.id }}'>Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>